@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    --cor-primaria: #f6f6f6;
    --cor-secundaria: black;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    gap: 82px;
    justify-content: space-between;
    padding: 5% 15%;
}

.apresentacao__conteudo {
    width: 50%;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__navegacao {
    width: 280px;
    background-color: var(--cor-terciaria);
    height: 79px;
    line-height: 79px;
    /* padding: 21.5px 0; */
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    border-radius: 16px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    cursor: pointer;
}

.apresentacao__imagem {
    width: 40%;
}